  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p class="alert-heading m-0">
    Couldn't <%= @storage.book ? 'unbook' : 'book'%> storage <%= @storage.id%></p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>