  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p class="alert-heading m-0">Successfully edited storage</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>