<div id="<%= dom_id storage %>">
  <p>
    <strong>Booked:</strong>
    <%= storage.booked %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= storage.book %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= storage.available %>
  </p>

</div>
