<%= turbo_frame_tag "modal", method: :post, data: {controller: "form", debounce_target: "form", turbo_frame:'_top'} do %>
  <div class="max-w-lg max-h-screen w-full relative">
    <div class="m-1 bg-white rounded shadow">
      <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%=render 'form', storage:@storage%>
    </div>
  </div>
<% end %>

