
<p style="color: green"><%= notice %></p>

<div class="d-flex flex-column justify-content-center align-items-center">
<h1 class="m-5">Address</h1>
<dl class='legend'>
    <dt class="red"></dt>
    <dd>Booked storages</dd>
    <dt class="yellow"></dt>
    <dd>Available storages</dd>
    <dt class="green"></dt>
    <dd>Your storage</dd>
</dl>
<%=render partial: 'storages'%>
<%= turbo_frame_tag "modal" %>
