html, body{
  width:100%;
  height:100%;
}
body{
  height: 100%;
  min-height: 100%;
  width:100vw;
}
.nav{
  background-color: #023047;
  color: #fff;
}
.navbar-toggler:focus{
box-shadow: none;
}
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer{
  background-color: #023047;
  color: #fff;
  bottom: 0;
  position: fixed;
}
#storages{
  position: relative;
}
.link-storage{
  text-decoration: none;
  cursor: pointer;
}
.booked{
  fill: #E68992;
}
.available{
  fill: #FEEE85;

}
.available:hover {
  fill: #FDE235;
}
.book{
  fill:#9BC77F;
}
.book:hover {
  fill: #79B455;
}
.available, .book, .booked{
  transition: all 0.3s;
  stroke:none;
}
.available:hover,
.book:hover{
  stroke:#000;
  pointer-events: all;
}
.legend{
  margin:0.5rem;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
}
dl dt{
  width: 20px;
  height: 20px;
  align-self: center;
}
dl dd{
  margin: 0px 10px;
  padding-bottom: 0;
  align-self: center;

}
dl dt.red{
  background: #E68992;
}
dl dt.yellow{
  background: #FEEE85;
}
dl dt.green{
  background: #9BC77F;
}
.icon-arrow{
  position: absolute;
  left:-15%;
  top:25%;
  margin:0.5rem;
}