<div class="collapse" id="navbarToggleExternalContent">
  <div class="nav p-4 flex-direction-column">
  <div class="menu">
    <%= link_to "Home", root_path,class: "link" %>
    <%= link_to "Turbo", storages_path,class: "link" %>
    <%= link_to "Stimulus", "",class: "link" %>
  </div>
  </div>
</div>
<nav class="nav navbar navbar-dark">
  <div class="container-fluid align-items-center justify-content-between">
   <div class="w-30"> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  </div>
</nav>